<div id="new_article_form">
  <h1>Add A New Article Here!</h1>
  <form class="new-article-ajax" action="/articles/new" method="POST">
    <input type="text" name="article[title]" placeholder="Title"><br>
    <textarea type="text" name="article[content]" placeholder="Content"></textarea><br>
    <input type="submit" value="Add Article">
  </form>
</div>