<% if current_user == @article.user%>
<div class="edit_article_form">
  <form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <input type="text" name="article[title]" value="<%= @article.title %>"><br>
    <input type="text" name="article[photo]" value="<%= @article.photo %>"><br>
    <input class="content-box" type="text" name="article[content]" value="<%= @article.content %>" placeholder="Content"><br>

    <input type="submit" value="Update Article">
  </form>
</div>
<% end %>