<h1>Welcome to Valentine's Day Voter!</h1>
      <% if current_user %>
        <a class="welcome-logout" href="/logout">Logout</a>
        <a style="display:none" class="welcome-login" href="/login">Login</a>
        <a style="display:none" class="welcome-signup" href="/signup">Signup</a>
      <% else %>
        <a class="welcome-login" href="/login">Login</a>
        <a class="welcome-signup" href="/signup">Signup</a>
        <a style="display:none" class="welcome-logout" href="/logout">Logout</a>
      <% end %>

<%= erb :'auth/login' %>
<%= erb :'auth/signup' %>
